h1.latest-change{
    padding-bottom: 50px;
    border-bottom:1px solid #999;
    margin-bottom: 10px;
}
.archive .content-wrap .content,
.search .content-wrap .content,
.single-change-order .content-wrap .content,
.post-type-archive-change-order .content-wrap .content{
    margin: 20px 0 20px 80px;
}

main.main > #date{
    position: absolute;
    right: 100%;
    top: 50px;
    border-radius: 15px 0 0 15px;
    width: 80px;
    box-shadow: 0.25em 0 0 0 #fbfbfb, 0 0 0.25em 0 rgba(0, 0, 0, 0.25);
    background: #fff url(../images/gfx-bkg-trans.png);
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    line-height: 1.1;
    padding: 15px 5px 15px 15px;
}
main.main > #date span{
    display: block;
}
main.main > #date .month{
    color: #999;
    font-weight: normal;
    font-size: 30px;
}
main.main > #date span:first-of-type{
   margin-top:15px;
}
main.main > #date span:last-of-type{
    padding-bottom:15px;
    margin-bottom:30px;
    border-bottom:1px solid #999;
}
/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
.order-list-wrap {
    border-top: 1px solid #545454;
    border-top: 1px solid #545454;
}

/*
basic layout and grid
----------------------------------------------
*/
.change-order-details {
    overflow: hidden;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: .5fr 3.5fr 2.5fr 2fr 1fr 2.5fr;
    grid-template-areas:
        "view title formula-brand size date status";
}

.change-orders-wrap>.change-order-content {
    padding: 5px 0;
    font-weight: bold;
    margin-top: 20px;
}

article.change-order {
    border-bottom: 1px solid #999999;
}

article.change-order.new .change-order-status-form {
    background: goldenrod;
}

article.change-order.active .change-order-status-form {
    background: #3F8434;
}

article.change-order.complete {
    opacity: .3;
}

article.change-order.complete .change-order-status-form {
    background: gray;
}


article.change-order:nth-of-type(2n+1) .change-order-details {
    background: rgba(0, 0, 0, .05);
}

article.change-order:nth-of-type(2n+2) .change-order-details {
    background: #f4f4f4;
}

.change-order-details>* {
    justify-self: flex-start;
    align-self: center;
    padding: 10px 5px;
    line-height: 1.1;
}
.change-order-details.title-row>* {
    padding-left: 0;
}
.change-order-details a{
    line-height: 1.1
}
.change-order-details a:not(.view):not(:hover) {
    color: #565656;
}

.change-order-details .view {
    grid-area: view;
    text-align: center;
    align-self: center;
    justify-self: center;
    
}

.change-order-details .change-order-title {
    grid-area: title;
}

.change-order-details .formula-brand {
    grid-area: formula-brand;
}
.change-order-details .formula-brand small { text-transform: uppercase; }
.change-order-details .formula-brand small a:not(:hover) { color:#999; }
.change-order-details .date {
    grid-area: date;
    text-align: center;
    align-self: center;
    justify-self: center;
    padding: 10px 5px;
}

.change-order-details .size {
    grid-area: size;
    text-align: center;
    align-self: center;
    justify-self: center;
    padding-left: 10px 5px;
}

.change-order-details .change-order-status-form {
    grid-area: status;
}


/*
status update form styles
----------------------------------------------
*/
.change-order-status-form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 100%;
    border: none;
}

.change-order-status-form form {
    flex-grow: 1;
    flex-shrink: 0;
}

.change-order-status-form form .acf-field {
    padding: 0;
}

.change-order-status-form .acf-label {
    display: none;
}

.change-order-status-form .acf-form-submit {
    z-index: -1;
    position: absolute;
    opacity: 0;
}

.change-order-status-form i.material-icons {
    color: #fff;
}

.change-order-status-form .select-wrapper::after{
    color:#fff;
    font-size: 30px;
    transform: translate(0, -50%);
    right: 0;
}

select#acf-field_5c919b252d0ad {
    color: #fff;
    background: transparent;
    border: none;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    width:auto;
}
.single-change-order .change-order{
    border-bottom:none;
}
.single-change-order .change-order header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.single-change-order .change-order h1{
    margin-right: 20px;
}

.single-change-order .change-order header .change-order-status-form{
    flex-basis: 25%;
    min-width: 150px;
    padding: 10px;
    border-radius: 10px;
}
/* Large devices (desktops, less than 1200px) */
@media (max-width: 1499.98px) { 
    .archive .content-wrap .content,
    .search .content-wrap .content,
    .single-change-order .content-wrap .content,
    .post-type-archive-change-order .content-wrap .content{
        margin: 20px 0 20px 50px;
    }
    main.main > #date{
        top: 40px;
        border-radius: 10px 0 0 10px;
        width: 50px;
        box-shadow: 0.25em 0 0 0 #fbfbfb, 0 0 0.25em 0 rgba(0, 0, 0, 0.25);
        background: #fff url(../images/gfx-bkg-trans.png);
        font-size: 40px;
        font-weight: bold;
        padding: 10px 0 10px 10px;
    }
    main.main > #date .month{
        font-size: 25px;
    }
    main.main > #date span:last-of-type{
        margin-bottom:20px;
    }
}
/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 
    h1.latest-change{
        padding-bottom: 40px;
    }
    .archive .content-wrap .content,
    .search .content-wrap .content,
    .single-change-order .content-wrap .content,
    .post-type-archive-change-order .content-wrap .content{
        margin: 60px 0 20px 0;
    }
    main.main > #date{
        top: auto;
        bottom: 100%;
        left: 15px;
        right: auto;
       
        border-radius: 10px 10px 0 0;
        width: auto;
        font-size: 22px;
        padding: 10px 10px 5px 10px;
        box-shadow: 0 0.25em 0 0 #fbfbfb, 0 0 0.25em 0 rgba(0, 0, 0, 0.25);
    }
    main.main > #date span{
        display: inline-flex;
    }
    main.main > #date .month{
        font-size: 22px;
        font-weight: normal;
    }
    main.main > #date span:first-of-type{
       margin-top:0;
    }
    main.main > #date span:last-of-type{
        padding-bottom:0;
        margin-bottom:0;
        border: none;
    }
    .change-order-details {
        grid-gap: 5px;
    }
 }

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
    h1.latest-change{
        padding-bottom: 25px;
    }
    .page-template-default .content-wrap .content,
    .archive .content-wrap .content,
    .search .content-wrap .content,
    .single-change-order .content-wrap .content,
    .post-type-archive-change-order .content-wrap .content{
        margin: 30px 0 20px 15px;
    }

 }

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
    .single-change-order .change-order header{
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .single-change-order .change-order h1{
        margin-right: 0;
    }
    
    .single-change-order .change-order header .change-order-status-form{
        flex-basis: 100%;
    }
 }

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {  }